<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Asterisk Eater</title>
  <script src="lib/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div ng-app="asteriskApp" ng-keyup="keyup($event)">
    <div ng-controller="AsteriskController as asteriskController">
      <h1>Asterisk Eater</h1>
      <h3>
        DISCLAIMER: This game has no point at all. However I'm proud of having programmed one of the most useless pieces of software ever.
      </h3>
      <p>Use the
        <strong>arrow keys</strong> to move the red ball around the board and eat all the asterisks.</p>
      <p class="coordinates">( {{ asteriskController.pos.x }}, {{ asteriskController.pos.y }} )</p>
      <table ng-keypress="callFunction($event)">
        <tr ng-repeat="row in asteriskController.board track by $index">
          <td class="{{ cell | cellFilter }}" ng-repeat="cell in row track by $index">

          </td>
        </tr>
      </table>
    </div>
  </div>
  <script src="app.js"></script>
</body>

<footer>
  Powered by <img class="angular-logo" src="https://angularjs.org/img/AngularJS-large.png" />
</footer>

</html>
