<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Asterisk Eater</title>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div ng-app="asteriskApp">
    <div ng-controller="AsteriskController">
      <h1>Asterisk Eater</h1>
      <p>Use the <strong>arrow keys</strong> to move the red ball and eat all the asterisks.</p>
      <table ng-keypress="callFunction($event)">
        <tr ng-repeat="row in board track by $index">
          <td class="{{cell | cellFilter}}" ng-repeat="cell in row track by $index">

          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
