table {
  border-collapse: collapse;
  background-color: #ddd;

}

td {
  width: 30px;
  height: 30px;
}

.border {
  background-color: #567;
}

.eater {
  background-color: red;
  border-radius: 50%;
}

.asterisk {
  background-image: url('asterisk.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
